
<div class="full-details">
  <div class="form-group col-md-9">
    <input class="form-control" formControlName="amount" placeholder="Enter the meter number">
  </div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Total days</th>
        <th scope="col">Days Used</th>
        <th scope="col">Days Left</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>10</td>
        <td>3</td>
        <td>7</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>10</td>
        <td>3</td>
        <td>7</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>10</td>
        <td>3</td>
        <td>7</td>
      </tr>
    </tbody>
  </table>
  

</div>
