.electricity-card{
    margin-top: 100px;
    justify-content: center;
}

.form-control {
    padding: 10px;
    font-family: Poppins;
  
}

.form-control input{
    width: 80px !important;
}

.register{
font-style: normal;
font-weight: bold;
font-size:25px;
}

form{
    height: 400px;
}

.submit button{
    height: 50px;
    background-color: rgb(180, 0, 0);
    border-radius: 5px;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    border: none;
    width: 485px;


}